body/*MAIL PAGEBODY*/ {
    font-family: "Georgia", Times New Roman, Times, serif;
    padding: 0;
    margin: 2px;
    background-color: #191919;
    font-size: 15px;
    border: 3px solid #98fb98;
  }
  
  .container/* HEADER MAIL PAGE*/ {
    width: 90%;
    margin: auto;
    overflow: hidden;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  header
  /*FEEDBACK NAVBAR */ {
    background-color: darkslategrey;
  
    color: white;
    padding-top: 24px;
    min-height: 60px;
  }
  
  header a,
  .links a/*  HEADER &CATEOGRIES MAIL PAGE*/ {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  .container i/* BAR-STYLING MAIL PAGE*/ {
    font-size: 30px;
    cursor: pointer;
    flex: 1;
    padding-left: 25px;
  }
  /* HEADER FONT STYLING MAIL PAGE*/
  .container h1,
  .container p,
  .container i {
    padding-bottom: 25px;
  }
  /*  HEADER LIST MAIL PAGE*/
  header ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
  }
  /*  HEADER ITEMS MAIL Page*/
  header ul li {
    padding: 10px;
    padding-bottom: 10px;
  }
  /*   .WORDS .COLOURED MAIL PAGE*/
  .color {
    color: #98fb98;
  }
  /* WORDS ON HOVERING--MAIL PAGE*/
  .color:hover {
    color: #f4f5e2;
  }
  /* CATEOGRIES & NAV ITEMS ON HOVERING--MAILPAGE*/
  header a:hover,
  .links a:hover {
    color: #0f0;
  }
  /* MAIL_HEAD STYLING*/
  .MAIL_head {
    background-color: #191919;
    min-height: 500px;
    margin-top: -20px;
    padding-top: 35px;
    padding-bottom: 10px;
  }
  /* MAIL_HEAD H1 STYLING*/
  .MAIL_head h1 {
    font-size: 43px;
    color: #98fb98;
    text-align: center;
  }
  .links/* MAIL BLOG-CATEOGRIES*/ {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    line-height: 2.5em;
    width: 30%;
    height: 600px;
    background-color: #191919;
    opacity: 0.8;
    border: #98fb98 3px solid;
  }
  .links li/*MAIL CATEOGRIES STYLING*/ {
    border-bottom: 3px solid #98fb98;
    padding-top: 18px;
  }
  
  /* MAIL BLOG-CONTENT*/
  
  .MAIL_second {
    width: 99.9%;
    padding-top: 100px;
    background-color: #f18973;
  
    min-height: 340px;
    background-image: url("MAIL_US.png");
    background-size: 340px;
    background-repeat: no-repeat;
    background-position: right;
  }
  .MAIL_second h3/* MAIL BLOG-CONTENT H3 STYLING */ {
    margin-bottom: 0px;
    margin-left: 16px;
    color: white;
    font-size: 43px;
    width: 55%;
  }
  .MAIL_second p/* MAIL BLOG-CONTENT P STYLING*/ {
    line-height: 1.5;
    width: 55%;
    color: white;
    font-size: 23px;
    padding: 10px;
    padding-bottom: 100px;
  }
  .content-MAIL-second {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 30px;
    margin-top: 20px;
  }
  
  .footer-MAIL/* MAIL FOOTER STYLING*/ {
    padding-top: 1px;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 13px;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: space-between;
    background-color: darkslategray;
    min-height: 50x;
  }
  .footer-MAIL ul/* MAIL FOOTER list*/ {
    display: flex;
    column-gap: 8px;
  }
  .footer-MAIL a/* MAIL FOOTER ITEMS*/ {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  .footer-MAIL h3/* MAIL FOOTER HEADING */ {
    font-size: 20px;
    color: white;
    padding: 10px;
  }
  .footer-MAIL a:hover/* MAIL FOOTER LINKS ON HOVERING */ {
    color: #98fb98;
    margin: 15px;
  }
  
  .MAIL_form/*MAIL FORM TEXTAREA & BUTTON*/ {
    display: block;
  
    text-align: left;
    padding: 4%;
    background-image: url("feed-second.png");
    background-size: 340px;
    background-repeat: no-repeat;
    background-position: right;
  
    background-color: #03A9F4 ;
    width: 92%;
    min-height: 400px;
  }
  
  .MAIL_form ::placeholder/*MAIL PLACEHOLDER STYLING*/ {
    color: #371d10;
    font-weight: bold;
  
    opacity: 0.4;
    font-size: 20px;
  }
  .MAIL_form textarea/*MAILTEXTAREA STYLING*/ {
    padding: 15px;
    font-size: 20px;
    border: 8px solid #371d10;
    background-color: #F4D03F;
  }
  
  textare{
    resize: vertical;
  }
  .MAIL_form button/*MAIL BUTTON STYLING*/ {
    background-color: #f67280;
    font-size: 20px;
    border: 2px white double;
    padding: 20px;
    text-align: center;
    border-radius: 4px;
    transition: 1.5s;
    color: white;
  }
  .MAIL_form button:hover/*MAIL BUTTON HOVERING*/ {
    background-color: #98fb98;
    border: #710193 double 2px;
    border-radius: 20px;
    color: #371d10;
    font-weight: bold;
  }
  @media (max-width: 800px) {
    .MAIL_second/* MAIL BLOG-CONTENT*/ {
      background-image: none;
      padding-top: 10px;
    }
    .MAIL_form/*MAIL FORM TEXTAREA & BUTTON*/ {
      background-image: none;
      display: block;
    }
  
    .links /*MAIL BLOG-CATEOGRIES*/ {
      height: 625px;
    }
    .footer-MAIL/* MAIL FOOTER STYLING*/ {
      display: block;
    }
    .footer-MAIL ul/* MAILFOOTER list*/ {
      display: block;
    }
  }
  