* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body//*BLOG-PAGE*/
  {
    font-family: "Georgia", Times New Roman, Times, serif;
    background-color: #fff;
    color: black;
    font-size: 18px;
    font-style: oblique;
    line-height: 1.5em;
  }
  
  .container /* BLOG-PAGE WIDTH RESTRICTED*/ {
    margin: auto;
    width: 94%;
    max-width: 1100px;
  }
  
  .Nav-name /*LOGO*/ {
    padding-top: 1px;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 13px;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: space-between;
  }
  
  .showcase/*US IN MNNIT blog cover*/ {
    height: 400px;
  
    background-image: url("../IMAGES/header_us.jpeg");
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 90px;
    margin-bottom: 20px;
    overflow: hidden;
    color: white;
    padding-top: 20px;
  }
  
  .showcase:hover /*US IN MNNIT-blog-cover*/ {
    margin: 10px;
    cursor: pointer;
  }
  .showcase p/*US IN MNNIT-blog-cover*/ {
    font-size: 30px;
  }
  .showcase h1,/*US IN MNNIT-blog-cover*/
  .showcase p {
    padding: 15px;
  }
  
  .main_blog a/*US IN MNNIT BLOG COLUMNS*/ {
    text-decoration: none;
    color: black;
  }
  
  .main_blog /*US IN MNNIT BLOG COLUMNS*/ {
    display: grid;
    padding-top: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
  }
  .main_blog  h1 /*US IN MNNIT BLOG COLUMNS*/ {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .main_blog img /*US IN MNNIT BLOG COLUMNS*/ {
    width: 100%;
  }
  
  @media (max-width: 880px) {
    .main_blog  /*US IN MNNIT BLOG COLUMNS*/ {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 670px) {
    .main_blog /*US IN MNNIT BLOG COLUMNS*/ {
      grid-template-columns: 1fr;
    }
    .showcase p {
      display: none;
    }
  }
  @media (max-width: 820px) {
    .footer-US/* US IN MNNIT BLOG FOOTER STYLING*/ {
      display: block;
    }
    .footer-US ul/* US IN MNNIT BLOG FOOTER list*/ {
      display: block;
    }
  }
  
  .main_blog div :hover /*US IN MNNIT BLOG COLUMNS*/ {
    cursor: none;
  }
  
  .main_blog  a /*US IN MNNIT BLOG COLUMNS*/ {
    color: royalblue;
    text-decoration: none;
  }
  .main_blog a:hover i/*US IN MNNIT BLOG COLUMNS*/ {
    margin-left: 10px;
  }
  .main_blog a:hover /*US IN MNNIT BLOG COLUMNS*/ {
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }
  
  .main_blog  p /*US IN MNNIT BLOG COLUMNS*/ {
    padding-bottom: 10px;
  }
  .box /*US IN MNNIT TAG LINE*/ {
    background-color: lightgray;
    padding: 20px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 14px;
    margin-top: 15px;
    border: 2 px solid grey;
  }
  
  .box p/*US IN MNNIT TAG LINE*/ {
    font-size: 20px;
  }
  .blog-follow p /*FOLLOW US VIA US IN MNNIT PAGE*/ {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    color: darkslategray;
    padding-top: 50px;
  }
  .blog-follow p /*FOLLOW US VIA US IN MNNIT PAGE*/ {
    font-size: 18px;
  }
  
  .footer-US/* US IN MNNIT BLOG FOOTER STYLING*/ {
    padding-top: 1px;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 13px;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: space-between;
    background-color: darkslategray;
    min-height: 50x;
  }
  .footer-US ul/* US IN MNNIT BLOG FOOTER list*/ {
    display: flex;
    column-gap: 8px;
  }
  .footer-US a/* US IN MNNIT BLOG FOOTER ITEMS*/ {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  .footer-US h3/* US IN MNNIT BLOG FOOTER HEADING */ {
    font-size: 20px;
    color: white;
    padding: 10px;
  }
  .footer-US a:hover/* US IN MNNIT BLOG FOOTER LINKS ON HOVERING */ {
    color: #98fb98;
    margin: 15px;
  }
  
  .footer-US-image {
    background-image: URL("../IMAGES/FOOTER_US.jpeg");
    background-position: center;
  
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  